{% load static i18n %}
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a href="{% url 'home' %}"><img width='90' height='70' src="{% static 'img/ps4gamelogo.jpg' %}" alt="logo"></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a href="{% url 'home' %}">{% trans "Homepage" %}</a></li>
                        <li><a href="{% url 'games' %}">{% trans "Games" %}</a></li>
                        <li><a href="{% static 'spiska.txt' %}">{% trans "Games List" %}</a></li>
                        <li><a href="https://t.me/dynamitebilol">{% trans "Contacts" %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ps4game.uz
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->